/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url('../img/main-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	width: 100vw;
	padding: 0 1rem;
	min-height: 100vh;
}

/* Navbar */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0;
}

.logo {
	font-family: 'Anton', sans-serif;
	color: white;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.5rem;
}

.logo ion-icon {
	font-size: 2rem;
}

.menu {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.menu li a {
	color: white;
	text-transform: capitalize;
	border: 2px solid white;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	font-weight: 500;
	transition: all 0.3s ease;
}

.menu a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

/* Main Movie */
.main-movie {
	display: flex;
	margin: 4rem 0;
}

.movie-info {
	flex: 50%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	color: white;
}

.movie-info h1 {
	font-family: 'Anton', sans-serif;
}

.movie-info .actions {
	display: flex;
	gap: 1rem;
}

.btn {
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	padding: 0.5rem 1.5rem;
	border-radius: 15px;
	display: flex;
	align-items: center;
	gap: 0.3rem;
	font-size: 1.1rem;
	font-weight: bold;
	transition: all 0.3s ease;
	border: 2px solid white;
}

.btn:hover {
	transform: scale(1.1);
	background-color: transparent;
}

.movie-img {
	flex: 50%;
	display: flex;
	justify-content: flex-end;
}

.movie-img img {
	width: 320px;
	border-radius: 3px;
	box-shadow: 1px 1px 15px 5px rgba(255, 255, 255, 0.1);
}
